<div class="img_top"></div>
<section>
  <h1>Order Details</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th ></th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <p>Total: <span class="total">${{formatPrice totalPrice}}</span></p>
  <footer>
    <a href="/">Cancel order</a>
    <form action="/" method="post">
      <input type="submit" value="ORDER NOW!">
    </form>
  </footer>
</section>
<div class="img_bottom"></div>